<div class="pc">
<div class="bg">
    <div class="head">
        Add Your Address
      </div>
<div class="box">

        <div class="innerLine">
        <div class="suggesion">Full Name </div>
        <input class="fname" minlength="3" type="Text" id="fname">
        </div>

        <div class="innerLine">
            <div class="suggesion">Mobile Number</div>
            <input class="fname" maxlength="10" minlength="10" type="number" id="phone">
        </div>
        <div class="innerLine">
            <div class="suggesion">Area, Street, Sector, Village</div>
            <input class="fname" minlength="3" type="Text" id="area">
        </div>
        <div class="innerLine">
            <div class="suggesion">House/Flat/Company</div>
            <input class="fname" minlength="3" placeholder="Flat, House no., Building, Company, Apartment" type="Text" id="house_n">
        </div>
        <div class="innerLine">
            <div class="suggesion">Pincode</div>
            <input class="fname" maxlength="6" minlength="6" type="number" id="pincode">
        </div>
        <div class="innerLine">
            <div class="suggesion">Landmark</div>
            <input class="fname" placeholder="(Optional)" type="Text" id="landmark">
        </div>
        <div class="innerLine">
            <div class="suggesion">Town/City</div>
            <input class="fname" minlength="3" type="Text" id="town_city">
        </div>
      <button  class="submit" (click)=addAddress()>Add Address</button>
</div>
</div>
</div>


<div class="mob">
    <div class="m_head">
        Add Your Address
      </div>
    <div class="m_box">

        <div class="m_innerLine">
        <div class="m_suggesion">Full Name </div>
        <input class="m_imput" minlength="3" type="Text" id="m_fname">
        </div>

        <div class="m_innerLine">
            <div class="m_suggesion">Mobile Number</div>
            <input class="m_imput" maxlength="10" minlength="10" type="number" id="m_phone">
        </div>
        <div class="m_innerLine">
            <div class="m_suggesion">Area, Street, Sector, Village</div>
            <input class="m_imput" minlength="3" type="Text" id="m_area">
        </div>
        <div class="m_innerLine">
            <div class="m_suggesion">House/Flat/Company</div>
            <input class="m_imput" minlength="3" placeholder="Flat, House no., Building, Company, Apartment" type="Text" id="m_house_n">
        </div>
        <div class="m_innerLine">
            <div class="m_suggesion">Pincode</div>
            <input class="m_imput" maxlength="6" minlength="6" type="number" id="m_pincode">
        </div>
        <div class="m_innerLine">
            <div class="m_suggesion">Landmark</div>
            <input class="m_imput" placeholder="(Optional)" type="Text" id="m_landmark">
        </div>
        <div class="m_innerLine">
            <div class="m_suggesion">Town/City</div>
            <input class="m_imput" minlength="3" type="Text" id="m_town_city">
        </div>
      <button  class="submit" (click)=m_addAddress()>Add Address</button>
</div>
</div>