<topbar></topbar>

<!--  Desktop -->
<div class="pc">
<div style="padding-top:100px;"></div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div id="carouselExampleDark" class="carousel carousel-dark slide1" data-bs-ride="carousel" style="height: 500px;">
    <div class="carousel-inner justify-content-center">
      <div class="carousel-item active " data-bs-interval="4000">
        <img src="{{add.add1}}" class="rounded mx-auto d-block">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{{add.add2}}" class="rounded mx-auto d-block">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{{add.add3}}" class="rounded mx-auto d-block">
        <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{{add.add4}}" class="rounded mx-auto d-block">
      <div class="carousel-caption d-none d-md-block">
    </div>
  </div>
  <div class="carousel-item" data-bs-interval="5000">
    <img src="{{add.add5}}" class="rounded mx-auto d-block">
    <div class="carousel-caption d-none d-md-block">
  </div>
</div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br>
<div class="suggesionList row">
  <div class="sugg_head">Trending Deals</div>
<div class="card m-3"
*ngFor="let Product of productList">
 <img class="card-img-top " src="{{Product.keyImage}}" style=" width: 200px; height: 200px;" >
 <div class="card-name" style="color: rgb(0, 109, 109); font-size: 15px;"><strong>{{Product.pname}}</strong></div>
 <div class="card-body">   
      <span class="d-flex"> <div style="color: brown;"><strong>Rs. {{Product.price}}</strong></div><div>&nbsp;<del class="text-muted"> MRP: {{Product.mrp}}</del></div> </span>
   <div class="d-flex justify-content-between align-items-center" >
    <button type="button" class="btn btn-outline-secondary btn-sm" style="margin: auto; width: 90%;" [routerLink]="['/shop/product', Product.pname]">View Details</button>
 </div>
</div>
</div>
</div>

<div class="categoryList row" >
  <div class="card m-3" *ngFor="let c of allCetegory" (click)="showProducts(c.category)">{{c.category}}</div>
</div>
  <div class="mt-auto">
    <app-bottombar></app-bottombar>
  </div>
</div>

<!-- mobile -->
<div class="mob"> 
<div class="super_category" >
  <div class="m_category" *ngFor="let c of Supercategory" (click)="m_showCategory(c.godown_name)"> 
    <div class="c_image" ></div>{{c.godown_name}}
  </div>
</div>
<div class="m_topCard">
<div id="add_mob" class="carousel carousel-dark " data-bs-ride="carousel" style="height: 200px;">
  <div class="carousel-inner justify-content-center">
    <div class="carousel-item active " data-bs-interval="4000">
      <img src="{{add.add1}}" class="rounded mx-auto d-block m_img">
      <div class="carousel-caption d-none d-md-block">  
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{{add.add2}}" class="rounded mx-auto d-block m_img">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{{add.add3}}" class="rounded mx-auto d-block m_img">
      <div class="carousel-caption d-none d-md-block">
    </div>
  </div>
  <div class="carousel-item" data-bs-interval="5000">
    <img src="{{add.add4}}" class="rounded mx-auto d-block m_img">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </div>
  <div class="carousel-item" data-bs-interval="5000">
    <img src="{{add.add5}}" class="rounded mx-auto d-block m_img">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </div>
</div>
</div>
</div>
<div class="m_plist row">
  <div class="sugg_head">Trending Deals</div>
  <div class="m_card" *ngFor="let p of productList" [routerLink]="['/shop/product', p.pname]">
    <img class="m_card_img" src="{{p.keyImage}}">
        <div class="m_pDetails" style="display: block;">
            <div class="m_pNmae">{{p.pname}}</div>
            <div class="m_pCategory">{{p.pcategory}}</div>
            <div class="m_price">₹<span class="m_pPrice">{{p.price}}</span> &nbsp;<span class="m_pmrp">(₹{{p.mrp}})</span></div> 
        </div>
  </div>
</div>
<div class="categoryList row" >
  <div class="card m_Ccard m-3" *ngFor="let c of allCetegory" (click)="showProducts(c.category)">{{c.category}}</div>
</div>
  
   </div>