<footer  class="wrapper" >
<div class="foot_body">
    <div class="ftr_iner">
        <div class="ft_head">About</div>
        <div class="ft_content">{{companyData.name}}</div>
        <div class="ft_content">mail: {{companyData.email}}</div>
        <div class="ft_content">Phone: {{companyData.phone}}</div>
        <div class="ft_content">Address:{{companyData.address1}}</div>
        <div class="ft_content">&nbsp;&nbsp;{{companyData.addres2}}</div>
        <div class="ft_content">&nbsp;&nbsp;{{companyData.city}},{{companyData.country}}</div>
    </div>
    <div class="ftr_iner">
        <div class="ft_head">Category </div>
        <div class="ft_content">{{companyData.name}}</div>
        <div class="ft_content">mail: {{companyData.email}}</div>
        <div class="ft_content">Phone: {{companyData.phone}}</div>
    </div>
</div>
</footer>