<div class="m_navbar">
    <nav class="navbar sticky-top navbar-light shadow p-2 h6 m_navbar">
      <div class="goBack" (click)="backClicked()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </div>
                <input class="form-control serachBox" type="text"
                #searchbox  placeholder="Search for products" 
                (keyup.enter)="Search(searchbox.value)"
                (keyup)="searchItems(searchbox.value)">
        <span>
          <button class="input-group-text basic-addon1" id="basic-addon1" (click)="Search(searchbox.value)" >
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
           </span>
          </button>
      </span>
    </nav>
    <div>
      <div class="suggestionBox" id="suggestionBox" hidden=true >
        <li class="suggestionList" *ngFor="let P of productList" routerLink="/shop/product" (click)=route(P.pname)>
           <img src="{{P.keyImage}}" style="width: 40px; height: 40px;" > 
          {{P.pname}}
        </li>
        </div>
    </div>
</div>