.navbar{
    font-family: Helvetica, Arial, sans-serif;
   background-color: rgb(255, 255, 255);
   position: fixed; /* Fixed topbar (stay in place on scroll) */
     top: 0; /* Stay at the top */
     width: 100%;
     margin: auto;
}
.goBack{
  padding-left: 3px;
}
.serachBox{
  margin-left: auto;
  width: 79%;
}
basic-addon1{
margin-right: 5px;
}

.suggestionBox{
  padding-top: 55px;
  width: 100%;
  max-height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ffffff;
  
}
.suggestionList{
  list-style-type:none;
  padding-top: 2px;
  border-bottom: rgb(0, 0, 0);
  padding: 5px;
  font-size: large;
}
.suggestionList:hover{
   background-color: rgb(218, 218, 218);
   cursor: pointer;
}
