/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    background:linear-gradient(to bottom right,#feedf6,#fcf0e2);
  }